
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context =" routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>pleas wait a moment...</Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>
                Not Found
            </PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert"> Sorry,there is not thing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>